/* Base styles for mobile */
body {
font-size: 14px;
margin: 0px;
text-align: center;
font-family: 'Arial Black';

overflow-x: hidden;
overflow-y: auto;

}


/* Add desktop-specific styles */
@media (min-width: 768px) {
body {
margin: 0px;
font-size: 18px;
font-family: 'Arial Black';
overflow-x: hidden;
overflow-y: auto;
    }
}


@font-face{
  font-weight: normal;
  font-style: normal;
  font-family: 'UmbertoRegular';
  src: url('umberto.ttf') format('truetype');
}


.GraffitiOtsikko{
  font-family: 'UmbertoRegular';
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
}



.pinkkinappi {
  background-color: #C00E52;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: background-color 350ms, color 150ms;
  vertical-align: baseline;
  touch-action: manipulation;
}

.pinkkinappi:hover,
.pinkkinappi:focus {
  background-color:  #63e9e4;
  color: black;
}


.keskitettyKuva{





}
/* Katutaide sivua varten */

.Katutaide{

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 1px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 7%;
}

.tekstit{
  font-size: 3vw;
}





.header {
font-family: 'UmbertoRegular';
font-size: 30px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
position: sticky;
left: 0;
top: 0;
width: 100%;
}



.headerlinkit{
  color:#ffffff00
}





.footer {
font-size: 30px;
color: white;
background-color: #000000;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
width: 100%;
display:block;
overflow:hidden;
}
