/* Base styles for mobile */
body {
font-size: 14px;
margin: 0px;
text-align: center;
font-family: 'Arial Black';

overflow-x: hidden;
overflow-y: auto;

}


/* Add desktop-specific styles */
@media (min-width: 768px) {
body {
margin: 0px;
font-size: 18px;
font-family: 'Arial Black';
overflow-x: hidden;
overflow-y: auto;
    }
}


@font-face{
  font-weight: normal;
  font-style: normal;
  font-family: 'UmbertoRegular';
  src: url('umberto.ttf') format('truetype');
}


.GraffitiOtsikko{
  font-family: 'UmbertoRegular';
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
}



.pinkkinappi {
  background-color: #C00E52;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: background-color 350ms, color 150ms;
  vertical-align: baseline;
  touch-action: manipulation;
}

.pinkkinappi:hover,
.pinkkinappi:focus {
  background-color:  #63e9e4;
  color: black;
}


.etuSivunIsoKuva{
font-size: 30px;
color: white;
background-color: #000000;
background-clip: text;
display:flex;
position: static;
width: 100%;
left: 0;
right: 0;
top: 0;




}

/* Katutaide sivua varten */
.Katutaide{

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 1px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 150px;
}

.tekstit{
  font-size: 40px;
}





.header {
padding-top: 5px;
padding-bottom: 50px;
position: sticky;
left: 0;
top: 0;
width: 100%;
background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.721),  rgb(255, 255, 255));
}



.headerlinkit{
  color:#ffffff00
}

.headerfont {
font-family: 'UmbertoRegular';
font-size: 50px;
text-align: center;
color: rgb(255, 0, 102);
text-shadow: -7px 0 black, 0 7px black, 5px 0 black, 0 -5px black;
}


.footer {
font-size: 30px;
color: white;
background-color: #000000;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
width: 100%;
display:block;
overflow:hidden;
}
